.header {
    display: flex;
    padding: 23px 100px;
}

.header h1, .header li {
    display: inline-block;
}

.header nav {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

.header li {
    margin-left: 80px;
}

@media screen and (max-width: 1024px) {
    .header li {
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 23px 30px;
    }
    .header li {
        margin-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 23px 20px;
    }
    .header nav {
        flex: 1;
    }
    .header li {
        margin-left: 20px;
    }
}
