.mainCategory {
    padding: 0 100px;
    margin-top: 15px;
}

.mainCategory li {
    display: inline-block;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
}
.active {
    color: black;
    border-bottom: 5px solid #43e39f;
}
