.container {
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.workIntro {
    font-size: 36px;
    font-family: 'KimNamyun', Verdana, sans-serif;
    padding: 24px 0;
}

.division {
    width: 20%;
    margin: 0 auto;
    border-width: 2px;
    border-color: white;
}

.workDescription, .authorProfile {
    font-size: 11px;
    font-weight: lighter;
}

.workDescription {
    padding: 24px 24px;
    word-break: keep-all;
}

.authorProfile {
    padding: 28px 0;
}

.authorProfile img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.cardFooter {
    padding: 16px;
    border: solid 1px #e6e6e6;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
}
.cardFooter img {
    vertical-align: text-bottom;
    cursor: pointer;
}
.likeCount {
    margin-right: 15px;
}
