.subCategory {
    background-color: #e6e6e6;
    padding: 24px 100px;
}
.subCategory li {
    display: inline-block;
}
.subCategory li a {
    display: inline-block;
    border-radius: 28px;
    margin-right: 24px;
    padding: 14px 24px;
    background-color: #f9f9f9;

    font-weight: bold;
}
.active a {
    background-color: #43e39f !important;
    color: white;
}
.active a:hover {
    color: white;
}
