.form-container {
    background-color: #f9f9f9;

    box-sizing: border-box;
    height: 1340px;
    padding: 60px;
}

@media screen and (max-width: 480px) {
    .form-container {
        padding: 40px 10px;
    }
}
