@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

body {
    margin: 0;
    color: #767676;
    font-size: 14px;
    font-family: NotoSansCJKkr, 'Noto Sans KR', Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 { font-size: 23px; }
h2 { font-size: 20px; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.aqua-marine { color: #43e39f; }
.gray { color: #767676; }
.black { color: #000; }
.white { color: #fff; }

.bg-aqua-marine { background-color: #43e39f; }
.bg-gray { background-color: #767676; }
.bg-black { background-color: #000; }
.bg-white { background-color: #fff; }

.border-aqua-marine { border-color: #43e39f; }

a {
    color: inherit;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
